@import "tailwindcss";

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;

  /* dùng đúng màu brand */
  --primary: 46.82 100% 50%; /* #ffc700 */
  --primary-foreground: 0 0% 12.16%; /* #1F1F1F */

  --secondary: 226.15 8.61% 29.61%; /* #454852 */
  --secondary-foreground: 0 0% 82.35%; /* #ffffff */

  --accent: 46.82 100% 50%;
  --muted: 0 0% 30%;
  --muted-foreground: 0 0% 75%;
  --border: 0 0% 20%;
  --radius: 0.5rem;
}

@theme inline {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-border: hsl(var(--border));
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

@theme {
  /* Primary scale */
  --color-primary-100: #fff3d5;
  --color-primary-200: #ffe8ab;
  --color-primary-300: #ffdd80;
  --color-primary-400: #ffd252;
  --color-primary-500: #ffc700; /* main */
  --color-primary-600: #c79b12;
  --color-primary-700: #917217;
  --color-primary-800: #604b16;
  --color-primary-900: #322811;

  /* Secondary scale */
  --color-secondary-100: #d7d7da;
  --color-secondary-200: #b0b1b6;
  --color-secondary-300: #8b8c93;
  --color-secondary-400: #676972;
  --color-secondary-500: #454852; /* main */
  --color-secondary-600: #383a42;
  --color-secondary-700: #2b2d32;
  --color-secondary-800: #1f2023;
  --color-secondary-900: #131415;

  /* Neutral scale */
  --color-neutral-0: #ffffff;
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #d2d2d2;
  --color-neutral-300: #b1b1b1;
  --color-neutral-400: #929292;
  --color-neutral-500: #5d5d5d;
  --color-neutral-600: #353535;
  --color-neutral-700: #2c2c2c;
  --color-neutral-800: #252525;
  --color-neutral-900: #1f1f1f;

  /* Global Dimensions */
  --dm-2: 2px;
  --dm-4: 4px;
  --dm-8: 8px;
  --dm-12: 12px;
  --dm-16: 16px;
  --dm-18: 18px;
  --dm-24: 24px;
  --dm-32: 32px;
  --dm-40: 40px;
  --dm-44: 44px;
  --dm-48: 48px;
  --dm-56: 56px;
  --dm-64: 64px;
  --dm-80: 80px;
  --dm-96: 96px;
  --dm-112: 112px;
  --dm-128: 128px;
  --dm-144: 144px;
  --dm-160: 160px;
  --dm-184: 184px;
  --dm-200: 200px;
  --dm-240: 240px;
  --dm-1000: 1000px;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-foreground font-black italic rounded-full cursor-pointer hover:bg-primary-600 transition-all;
  }

  .btn-secondary {
    @apply border border-primary text-neutral-200 font-black italic rounded-full cursor-pointer hover:border-primary-200 transition-all;
  }



  .nav-active {
    @apply text-primary bg-secondary-600;
  }
  .t-header {
    @apply text-left text-neutral-500 font-black text-[10px] md:text-sm italic leading-6;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(
      90deg,
      var(--color-secondary-foreground),
      #ffd3e3,
      #ffea9f
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
  }
  .bg-gradient {
    background: linear-gradient(
      90deg,
      transparent 0%,
      #ffc7001a 50%,
      transparent 100%
    );
  }

  .bg-rank-1 {
    background: linear-gradient(
        90deg,
        rgba(255, 200, 61, 0.1) 0%,
        rgba(255, 200, 61, 0.05) 5%,
        rgba(0, 0, 0, 0) 10%
      ),
      #1f2023;
  }
  .bg-rank-2 {
    background: linear-gradient(
        90deg,
        rgba(202, 202, 202, 0.1) 0%,
        rgba(202, 202, 202, 0.05) 5%,
        rgba(0, 0, 0, 0) 10%
      ),
      #1f2023;
  }
  .bg-rank-3 {
    background: linear-gradient(
        90deg,
        rgba(153, 115, 90, 0.1) 0%,
        rgba(153, 115, 90, 0.05) 5%,
        rgba(0, 0, 0, 0) 10%
      ),
      #1f2023;
  }
  .bg-rank {
    background: linear-gradient(
        90deg,
        rgba(89, 89, 89, 0.1) 0%,
        rgba(89, 89, 89, 0.05) 5%,
        rgba(0, 0, 0, 0) 10%
      ),
      #1f2023;
  }
  .row-rounded td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .row-rounded td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .scrollbar-xiaomi {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-secondary-800) transparent;
  }

  .scrollbar-xiaomi::-webkit-scrollbar {
    width: 4px; /* chiều rộng */
  }

  .scrollbar-xiaomi::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary-800);
    border-radius: 9999px; /* bo tròn như dm-1000 */
  }

  .scrollbar-xiaomi::-webkit-scrollbar-track {
    background: transparent;
  }
}

h1 {
  font-size: var(--dm-48);
  line-height: var(--dm-56);
  font-weight: 700;
}

h2 {
  font-size: var(--dm-32);
  line-height: var(--dm-24);
  font-weight: 300;
}

h3,
h4 {
  font-weight: 900;
  font-style: italic;
}

h3 {
  font-size: var(--dm-24);
  line-height: var(--dm-48);
}

h4 {
  font-size: var(--dm-16);
  line-height: var(--dm-28);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: var(--dm-24);
    line-height: var(--dm-32);
  }

  h2 {
    font-size: var(--dm-16);
    line-height: var(--dm-24);
  }

  h3 {
  font-size: var(--dm-18);
  line-height: var(--dm-32);
  }
  
}
